﻿
@{
    ViewBag.Title = "Diziler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kardeş Payı 1.Bölüm
        </h1>
    </div>
</div>
<div class="row" style="">
    <div class="col-xs-9 yeni">
        @*<div class="col-md-4 portfolio-item">*@
        <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/-DJGaqqi0IA' frameborder='0'></iframe></div>

    </div>

    @*</div>*@
    <div class="col-xs-3 kenar" id="related-posts">
        <h4>Dizinin diğer bölümleri</h4>
        <ul>
            <li class="active sekil">
                <a href="http://google.com">
                    <b class="episode">Kardeş Payı 1. Bölüm</b>
                    <span class="archive-name">
                    </span>
                </a>
            </li>
            <li class="active sekil">
                @*<a href="http://google.com">*@
                    <b class="episode">Kardeş Payı 2. Bölüm</b>
                    <span class="archive-name">
                    </span>
                </a>
            </li>
            <li class="active sekil">
                @*<a href="http://google.com">*@
                    <b class="episode">Kardeş Payı 3. Bölüm</b>
                    <span class="archive-name">
                    </span>
                </a>
            </li>
            <li class="active sekil">
                @*<a href="http://google.com">*@
                    <b class="episode">Kardeş Payı 4. Bölüm</b>
                    <span class="archive-name">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>

