﻿@{
    ViewBag.Title = "Ana Sayfa";
}

@**@
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                POPÜLER DİZİLER
                <small></small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 portfolio-item">
            
            <img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")kardespayi.jpg" />
                
             @*   <img class="img-responsive" src="@Url.Content("~/Content/images/")kardespayi.jpg" alt="">

*@
            <h3>
                @Html.ActionLink("Kardeş Payı","Diziler","Home")
            </h3>
            
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")medcezir.jpg" /></a>
            @*<a href="#">
               
                
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
            <h3>
                <a href="#">Medcezir</a>
            </h3>
           
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")içrde2.jpg" /></a>
            @*<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
            <h3>
                <a href="#">İçerde</a>
            </h3>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")sparta.jpg" /></a>
            @*<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
            <h3>
                <a href="#">Spartaküs</a>
            </h3>
           
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")breaking.jpg" /></a>
                @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
            </a>
            <h3>
                <a href="#">Breaking Bad</a>
            </h3>
           
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")super.jpg" /></a>
                @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
            </a>
            <h3>
                <a href="#">Dizi</a>
            </h3>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")ezel.jpg" /></a>
                @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
            </a>
            <h3>
                <a href="#">Ezel</a>
            </h3>
           
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")isler.jpg" /></a>
                @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
            </a>
            <h3>
                <a href="#">İşler Güçler</a>
            </h3>
            
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")yedi.jpg" /></a>
                @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
            </a>
            <h3>
                <a href="#"> Dizi</a>
            </h3>
           
        </div>
    </div>

    <hr>

    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>

    <hr>
</div>