﻿@model IEnumerable<WebOdevi.Models.kullaniciid>

@{
    ViewBag.Title = "listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listele</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kullaniciadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eposta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diziyorum.yorum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.kullaniciadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eposta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diziyorum.yorum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.kullaniciidi }) |
            @Html.ActionLink("Details", "Details", new { id=item.kullaniciidi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.kullaniciidi })
        </td>
    </tr>
}

</table>
