﻿
@{
    ViewBag.Title = "Tdiziler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            TÜRK DİZİLERİ
            <small></small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item">

        <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/-DJGaqqi0IA' frameborder='0'></iframe></div>


        <h3>
            @Html.ActionLink("Kardeş Payı", "Diziler", "Home")
        </h3>
        <p>Bu Bir Dizidir</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/ChS5CcxbXlc' frameborder='0'></iframe></div>
        @*<a href="#">


                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
        <h3>
            <a href="#">7 Numara</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/nkmBkU9hxGs' frameborder='0'></iframe></div>
        @*<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
        <h3>
            <a href="#">Medcezir</a>
        </h3>

    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/g9ye2PbZzaQ' frameborder='0'></iframe></div>
        @*<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
        <h3>
            <a href="#">İçerde</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/FSo8aRocl9w' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#">Ezel</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/6qIAda4ShJI' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#">İşler Güçler</a>
        </h3>

    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/mA1VAiBMjbg' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#">Kara Sevda</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/kypIEGvq_30' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
            
        </a>
        <h3>
            <a href="#">Diriliş</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='https://www.youtube.com/embed/lbeBBWKehuE' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
           
        </a>
        <h3>
            <a href="#"> Baba Candır</a>
        </h3>

    </div>
</div>

<hr>

@*<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>*@

<hr>
</div>








