﻿
@{
    ViewBag.Title = "YDiziler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            YABANCI DİZİLER
            <small></small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 portfolio-item">

        <div class="embed-container yeni"><iframe src='http://dizipub.com/player/?u=109924273412063742658&amp;a=6231241936354937633&amp;v=6231241933287721778&amp;t=6A76745D2ACA99507A61AB5267DB6B9D1 ' frameborder='0'></iframe></div>


        <h3>
            @Html.ActionLink("Kardeş Payı", "Diziler", "Home")
        </h3>
        <p>Bu Bir Dizidir</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <div class="embed-container yeni"><iframe src='http://dizipub.com/efso/url/PT1RVElSR2VacG1WTFoxYVpOVFdYMUVlQ2huV0c5RVNXVkVXM0lFTXZVbWRwSkha' frameborder='0'></iframe></div>
        @*<a href="#">


                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
        <h3>
            <a href="#">Supernatural</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <div class="embed-container yeni"><iframe src='http://dizipub.com/player/?u=107897841960753650553&amp;a=6231844614926921489&amp;v=6231844614989609874&amp;t=812C55B8F3373023E98643DE5B0F3D8F1' frameborder='0'></iframe></div>
        @*<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
        <h3>
            <a href="#">Spartaküs</a>
        </h3>

    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <div class="embed-container yeni"><iframe src='http://dizipub.com/efso/url/PT13YXdRMlVLaGxZbVJHYmhSSGJFWkZlQ2huV0c5RVNXVkVXM0lFTXZVbWRwSkha' frameborder='0'></iframe></div>
        @*<a href="#">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
            </a>*@
        <h3>
            <a href="#">Arrow</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='http://dizipub.com/player/?u=109511791716313809168&amp;a=6365353490844466177&amp;v=6365353491060027058&amp;t=1F66B42A7F5677392CF3CA25F5E2A2CD1 ' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#">Atlanta</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='http://dizipub.com/efso/url/PT1RVHVaRk16ZFZUVFprTVNGVFRXeGthaGxGYTNVamR3ODBVNUpFTXZVbWRwSkha' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#">The Big Bang Theory</a>
        </h3>

    </div>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <div class="embed-container yeni"><iframe src='http://dizipub.com/player/?u=109511791716313809168&amp;a=6365353335025400001&amp;v=6365353335397036882&amp;t=ECD792A20AB580B76CC65C631469F81D1' frameborder='0'></iframe></div>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#">No Tomorrow</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")isler.jpg" /></a>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#">İşler Güçler</a>
        </h3>

    </div>
    <div class="col-md-4 portfolio-item">
        <a href="#">
            <a href="http://www.google.com.tr"><img class="img-responsive" alt="" src="@Url.Content("~/Content/images/")yedi.jpg" /></a>
            @*<img class="img-responsive" src="http://placehold.it/700x400" alt="">*@
        </a>
        <h3>
            <a href="#"> Dizi</a>
        </h3>

    </div>
</div>

<hr>

<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<hr>
</div>






