﻿<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>3 Col Portfolio - Start Bootstrap Template</title>

    <link href="~Content/bootstrap.min.css" rel="stylesheet">

    <link href="~Content/3-col-portfolio.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dizi İzle</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(WebOdevi.Resources.HomeTexts.Home,"Index","Home") @*<a href="#">Ana Sayfa</a>*@ </li>
                    <li>@Html.ActionLink("Yabancı Diziler", "YDiziler", "Home") @*<a href="#">Yabancı Diziler</a>*@</li>
                    <li>@Html.ActionLink("Türk Dizileri", "Tdiziler", "Home")@*<a href="#">Türk Dizileri</a>*@</li>
                    <li>@Html.ActionLink(WebOdevi.Resources.HomeTexts.Contact, "Contact", "Home")@*<a href="#">İletişim</a>*@</li>
                    
                </ul>
                <a href="@Url.Action("Degistir","Dil",new{LanguageAbbrevation="tr"},null)">TR</a>
                <a href="@Url.Action("Degistir","Dil",new{LanguageAbbrevation="en"},null)">EN</a>
            </div>

        </div>

    </nav>
    @RenderBody()
    <div>
        
        <footer class="site-footer renk">
           
           
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dizi İzle</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(WebOdevi.Resources.HomeTexts.Home, "Index", "Home") @*<a href="#">Ana Sayfa</a>*@ </li>
                            <li>@Html.ActionLink("Yabancı Diziler", "yabanci", "Home") @*<a href="#">Yabancı Diziler</a>*@</li>
                            <li>@Html.ActionLink("Türk Dizileri", "turkDzi", "Home")@*<a href="#">Türk Dizileri</a>*@</li>
                            <li>@Html.ActionLink(WebOdevi.Resources.HomeTexts.Contact, "Contact", "Home")@*<a href="#">İletişim</a>*@</li>
                        </ul>
                    </div>

                </div>

           
            @*<div class="row">
                <div class="col-lg-12 margindegis">

                    <p>Copyright &copy; Your Website 2014</p>
                </div>

            </div>*@
           
        </footer>
    </div>

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>
</body>
</html>
